@use "../../sass/base" as b;

.why {
    @include b.container;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 40px;

    &__image {
        display: flex;
        justify-content: center;
    }

    .section-description {
        text-align: left;
        font-size: 18px;

        @media screen and (max-width: 1100px) {
            font-size: 17px;
        }

        @media screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
}

.faq__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}


@media screen and (max-width: 768px) {
    .why {
        grid-template-columns: 1fr;
        grid-gap: 40px;

        .section-description {
            margin-bottom: 30px;
        }

        &__texts {
            justify-self: center;
            max-width: 380px;
        }

        .section-title, .section-description {
            text-align: center;
        }

        .section-description {
            font-size: 15px;
        }
    }
}